.search-bar{
    margin-top: 2rem;
    input{
        border: 1px solid silver;
        border-radius: 0px;
        padding: 30px;
        &:active,
        &:focus{
            box-shadow: none;
            border:1px solid silver
        }
        &::placeholder{
            color: #222;
            font-size: 20px;
        }
    }
    .btn-1{
        background: #262626;
        color: #fff;
        border: 1px solid #262626;
        border-radius: 0px;
        padding: 0px 20px;
        &:hover{
            background: #FC4F4F;
            border: 1px solid #FC4F4F;
        }
        .icons{
            font-size: 25px;
        }
    }
    @media screen and (max-width:768px) {
        margin-top: .5rem;
    }
}