.customModal {
  width: 100%;
  height: 100vh;
}

.react-responsive-modal-modal {
  max-width: 100%;
  width: 100% !important ;
  margin: 0px !important;
  /* background: rgba(255, 255, 255, 0.9) !important; */
}
.search-model {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.react-responsive-modal-modal {
  width: 80%;
  /* background: #222222 !important; */
}

.mobile-modal {
  width: 100%;
  height: 100%;
  background-color: #222222;
}
