@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./footer/index.scss";
@import "./header/index.scss";
@import "./header/mobileNavbar.scss";
@import "./homepage/index.scss";
@import "./searchbar/index.scss";
@import "./productCard/index.scss";
@import "./about/index.scss";
@import "./hero.scss";
@import "./contact.scss";
@import "./productDetail.scss";
@import "./cart.scss";
@import "./checkout.scss";
@import "./loginform.scss";
@import "./profile.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
li {
  list-style: none;
}

.detail-add {
  .add-to-cart {
    background: #fc4f4f;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    color: #fff;
    .icons {
      margin-right: 1rem;
    }
  }
}
